@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --primary-color: #fefdff;
  --border-radius: 15px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Bebas Neue", cursive;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
}

h1 {
  color: black;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  text-align: center;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}

h1:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background: rgba(255, 255, 255, 0.6);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
  color: black;
}

.fa-times-circle:hover {
  filter: brightness(110%);
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalOpen 3s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-icon {
  float: right;
  color: black;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.modal-header {
  background-color: #6e787a;
  color: black;
  padding: 15px;
}

h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
  background: whitesmoke;
}

/* Form */
.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid #6e787a;
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  color: #6e787a;
  display: block;
}

button {
  cursor: pointer;
  color: white;
  background: #6e787a;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button:hover {
  filter: brightness(110%);
}

button:focus {
  outline: none;
}
/* media large smartphone */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
